Repository w3c/wai-website, pull requests merged in 2024-06, with the labels that each got.

#497 [French] e-book -> livre numérique – Update Business Case
  pages/teach-advocate/business-case/index.fr.md
Labels: business-case

#488 [Ready for Review] French - Involving Users in Web Projects for Better, Easier Accessibility
  pages/planning-policies/involving-users.fr.md
Labels: involving-users

#526 Create 2024-06-24-people-use-web.md
  collections/_posts/2024-06-24-people-use-web.md
Labels: news

#518 update HPwDuW info in Fundamentals overview & People pages
  pages/fundamentals/index.md
  pages/fundamentals/people/index.md
Labels: people-use-web, fundamentals
