Repository w3c/wai-website, pull requests merged in 2024-08, with the labels that each got.

#561 [Ready for review] Polish translation for Selecting Evaluation Tools
  pages/test-evaluate/evaluation-tools/selecting-eval-tools.pl.md
Labels: translations, selecting-eval-tools

#569 [Ready for review] Polish translation for Evaluation Tools Overview
  pages/test-evaluate/evaluation-tools/index.pl.md
Labels: translations, evaluation-tools

#594 Make "How People with Disabilities Use the Web" ready for translations
  pages/fundamentals/people/people-use-web/abilities-barriers.md
  pages/fundamentals/people/people-use-web/abilities-barriers/auditory.md
  pages/fundamentals/people/people-use-web/abilities-barriers/cognitive.md
  pages/fundamentals/people/people-use-web/abilities-barriers/physical.md
  pages/fundamentals/people/people-use-web/abilities-barriers/speech.md
  pages/fundamentals/people/people-use-web/abilities-barriers/visual.md
  pages/fundamentals/people/people-use-web/acknowledgements.md
  pages/fundamentals/people/people-use-web/index.md
  pages/fundamentals/people/people-use-web/tools-techniques.md
  pages/fundamentals/people/people-use-web/tools-techniques/input.md
  pages/fundamentals/people/people-use-web/tools-techniques/navigation.md
  pages/fundamentals/people/people-use-web/tools-techniques/perception.md
  pages/fundamentals/people/people-use-web/tools-techniques/presentation.md
  pages/fundamentals/people/people-use-web/user-stories.md
  pages/fundamentals/people/people-use-web/user-stories/story-eight.md
  pages/fundamentals/people/people-use-web/user-stories/story-five.md
  pages/fundamentals/people/people-use-web/user-stories/story-four.md
  pages/fundamentals/people/people-use-web/user-stories/story-nine.md
  pages/fundamentals/people/people-use-web/user-stories/story-one.md
  pages/fundamentals/people/people-use-web/user-stories/story-seven.md
  pages/fundamentals/people/people-use-web/user-stories/story-six.md
  pages/fundamentals/people/people-use-web/user-stories/story-three.md
  pages/fundamentals/people/people-use-web/user-stories/story-two.md
Labels: people-use-web

#826 Update user-stories.md
  pages/fundamentals/people/people-use-web/user-stories.md
Labels: people-use-web

#842 Simplified Chinese – Update Accessibility Principles wording
  pages/fundamentals/accessibility-principles/index.zh-hans.md
Labels: translations, accessibility-principles

#843 Images Tutorial: Fix broken links
  pages/design-develop/tutorials/images/decorative.md
  pages/design-develop/tutorials/images/informative.md
  pages/example-link.md
Labels: tutorials

#847 Fix links to users stories in 'New in WCAG' pages
  pages/standards-guidelines/wcag/new-in-21.es.md
  pages/standards-guidelines/wcag/new-in-21.md
  pages/standards-guidelines/wcag/new-in-22.md
Labels: wcag-intro

#850 Fix links to User Stories
  collections/_perspective-videos/captions.fr.md
  collections/_perspective-videos/captions.md
  collections/_perspective-videos/contrast.fr.md
  collections/_perspective-videos/contrast.md
  collections/_perspective-videos/controls.fr.md
  collections/_perspective-videos/controls.md
  collections/_perspective-videos/customizable.fr.md
  collections/_perspective-videos/customizable.md
  collections/_perspective-videos/keyboard.fr.md
  collections/_perspective-videos/keyboard.md
  collections/_perspective-videos/layout.fr.md
  collections/_perspective-videos/layout.md
  collections/_perspective-videos/notifications.fr.md
  collections/_perspective-videos/notifications.md
  collections/_perspective-videos/speech.fr.md
  collections/_perspective-videos/speech.md
  collections/_perspective-videos/understandable.fr.md
  collections/_perspective-videos/understandable.md
  collections/_perspective-videos/voice.fr.md
  collections/_perspective-videos/voice.md
  collections/_tips/designing.fr.md
  collections/_tips/designing.id.md
  collections/_tips/designing.ja.md
  collections/_tips/developing.fr.md
  collections/_tips/developing.id.md
  collections/_tips/developing.ja.md
  collections/_tips/writing.fr.md
  collections/_tips/writing.id.md
  collections/_tips/writing.ja.md
  pages/design-develop/media-guide/users-orgs.fr.md
  pages/design-develop/media-guide/users-orgs.md
  pages/fundamentals/accessibility-principles/index.ar.md
  pages/fundamentals/accessibility-principles/index.cs.md
  pages/fundamentals/accessibility-principles/index.es.md
  pages/fundamentals/accessibility-principles/index.fr.md
  pages/fundamentals/accessibility-principles/index.ko.md
  pages/fundamentals/accessibility-principles/index.ru.md
  pages/fundamentals/accessibility-principles/index.zh-hans.md
  pages/fundamentals/people/older-users/index.md
  pages/fundamentals/people/people-use-web/abilities-barriers.fr.md
  pages/fundamentals/people/people-use-web/tools-techniques.fr.md
  pages/test-evaluate/easy-checks/color-contrast.md
  pages/test-evaluate/easy-checks/headings.md
  pages/test-evaluate/easy-checks/image-alt.md
  pages/test-evaluate/easy-checks/zoom.md
Labels: people-use-web
