Repository w3c/wai-website, pull requests merged in 2024-11, with the labels that each got.

#947 What We're Working On: Use `last_updated` and `first_published` variables
  pages/about/update.md
Labels: about

#949 Update changelog for “Accessibility Standards Overview”
  pages/standards-guidelines/changelog.md
Labels: standards-guidelines

#874 Update "Translating" page
  pages/about/translating.md
Labels: translation-guidance

#689 [Ready for review] Polish – An Alt Decision Tree
  pages/design-develop/tutorials/images/decision-tree.pl.md
Labels: translations, tutorials

#966 Correct grammar
  pages/standards-guidelines/wcag/index.md
Labels: wcag-intro

#971 Update Translation Technical Steps
  pages/about/translating/resources/technical-steps.md
Labels: translation-guidance

#977 Update translation review instructions
  pages/about/translating.md
  pages/about/translating/resources/technical-steps.md
  pages/about/translating/reviewing.md
Labels: translation-guidance

#978 Remove references to old telecon pages for ARIA Task Forces
  pages/about/groups/ariawg/editors.md
  pages/about/groups/task-forces/practices.md
Labels: groups

#986 [Japanese] Accessibility Principles
  pages/fundamentals/accessibility-principles/index.ja.md
Labels: accessibility-principles

#919 [READY FOR REVIEW] Simplified Chinese - Developing for Web Accessibility
  collections/_tips/developing.zh-hans.md
Labels: translations, tips

#992 Update translation sitemaps list
  collections/_translations-sitemaps/sitemap-pt-br.md
  collections/_translations-sitemaps/sitemap-ru.md
Labels: translation-guidance
