Repository w3c/wai-website, pull requests merged in 2024-12, with the labels that each got.

#987 Do not mark "Accessibility Principles" translations outdated
  pages/fundamentals/accessibility-principles/index.ar.md
  pages/fundamentals/accessibility-principles/index.cs.md
  pages/fundamentals/accessibility-principles/index.es.md
  pages/fundamentals/accessibility-principles/index.fr.md
  pages/fundamentals/accessibility-principles/index.ja.md
  pages/fundamentals/accessibility-principles/index.ko.md
  pages/fundamentals/accessibility-principles/index.ru.md
  pages/fundamentals/accessibility-principles/index.zh-hans.md
Labels: translations, accessibility-principles

#968 [Simplified Chinese] Video Introduction to Web Accessibility
  pages/fundamentals/introduction/video-introduction/index.zh-hans.md
Labels: translations

#930 [READY FOR REVIEW] Introduction to Web Accessibility
  pages/fundamentals/introduction/index.zh-hans.md
Labels: translations, decision:needs-update

#953 [READY FOR REVIEW] [Simplified Chinese] W3C Accessibility Standards Overview
  pages/standards-guidelines/index.zh-hans.md
Labels: translations

#989 Fix typos in organization policies document
  pages/planning-policies/org-policies/index.md
Labels: org-policies

#924 [READY FOR REVIEW] Brazilian Portuguese - Introduction to Web Accessibility
  pages/fundamentals/introduction/index.pt-BR.md
Labels: translations, intro-accessibility

#1023 Japanese – WCAG 3 Introduction
  pages/standards-guidelines/wcag/wcag3-intro.ja.md
Labels: translations, wcag-intro

#1024 Remove redundant trailing slash in links
  collections/_posts/2016-05-17-new-videos-perspectives-on-web-accessibility-essential-for-some-useful-for-all.md
Labels: news

#1027 Translations information
  pages/about/translating.md
  pages/about/translating/resources.md
  pages/about/translating/resources/images.md
  pages/about/translating/resources/subtitles.md
  pages/about/translating/resources/technical-steps.md
  pages/translations.md
Labels: translation-guidance
