Repository w3c/wai-website, pull requests merged in 2024-09, with the labels that each got.

#859 Redirect previous WAI-Adapt permalink
  pages/about/groups/task-forces/adapt.md
Labels: groups

#860 Alt Decision Tree: fix 404 / update changelog & French translation
  pages/design-develop/tutorials/changelog.md
  pages/design-develop/tutorials/images/decision-tree.de.md
  pages/design-develop/tutorials/images/decision-tree.fr.md
  pages/design-develop/tutorials/images/decision-tree.id.md
  pages/design-develop/tutorials/images/decision-tree.ja.md
  pages/design-develop/tutorials/images/decision-tree.ko.md
  pages/design-develop/tutorials/images/decision-tree.md
Labels: translations, tutorials

#848 Fix RESPECT Code of Practice link: use archived version
  pages/planning-policies/involving-users.fr.md
  pages/planning-policies/involving-users.md
Labels: involving-users

#794 Update wcag2x-backlog.md link text
  pages/about/groups/task-forces/wcag2x-backlog.md
Labels: groups

#867 Update "Translating WCAG" guidance
  pages/about/translating/wcag.md
Labels: translation-guidance

#861 Use "Spoken Presentation TF" consistently
  pages/about/groups/task-forces.md
  pages/about/update.md
Labels: groups

#873 Perspective Videos: minor fixes & updates
  _config.yml
  collections/_perspective-videos/changelog.md
  collections/_perspective-videos/index.fr.md
  collections/_perspective-videos/index.md
  collections/_perspective-videos/voice.fr.md
  collections/_perspective-videos/voice.md
Labels: perspective-videos
