Repository w3c/wai-website, pull requests merged in 2024-07, with the labels that each got.

#573 Include 2024 Draft Note publication
  pages/about/groups/task-forces/wcag2ict.md
Labels: intro-wcag2ict

#484 WCAG2ICT July 2024 Announcements
  collections/_posts/2024-07-02-wcag2ict.md
Labels: news

#571 Include ACT Rules Format 1.1 FPWD
  pages/standards-guidelines/evaluation/act.md
Labels: intro-act

#572 Include ACT Rules Format 1.1 First Public Working Draft
  pages/about/groups/task-forces/conformance-testing.md
Labels: intro-act

#591 Business Case – Update European Institution
  pages/teach-advocate/business-case/index.md
Labels: business-case

#592 [French] Update Business Case translation
  pages/teach-advocate/business-case/index.fr.md
Labels: translations, business-case

#585 Media Guide – Change empty table header to data cell
  pages/design-develop/media-guide/planning.md
Labels: media-guide

#754 Tutorials: Update link to Alt text Easy Check
  pages/design-develop/tutorials/images/tips.md
Labels: tutorials

#755 Tips: Add links to HPwDUtW
  collections/_tips/designing.md
  collections/_tips/developing.md
  collections/_tips/writing.md
Labels: tips
