Repository w3c/wai-website, pull requests merged in 2025-05, with the labels that each got.

#531 [Ready for Review] Polish translation: W3C Accessibility Standards Overview
  pages/standards-guidelines/index.pl.md
Labels: translations, standards-guidelines

#1237 Standards and Guidelines Overview: update frontmatter (English & translations)
  pages/standards-guidelines/index.ar.md
  pages/standards-guidelines/index.cs.md
  pages/standards-guidelines/index.es.md
  pages/standards-guidelines/index.fr.md
  pages/standards-guidelines/index.id.md
  pages/standards-guidelines/index.ko.md
  pages/standards-guidelines/index.md
  pages/standards-guidelines/index.pl.md
  pages/standards-guidelines/index.ru.md
  pages/standards-guidelines/index.zh-hans.md
Labels: standards-guidelines

#1220 Accessibility Training: remove duplicate text
  pages/teach-advocate/accessibility-training/topics.md
Labels: accessibility-training
