Repository w3c/wai-website, pull requests merged in 2025-07, with the labels that each got.

#1348 Participating and Sitemap pages: update Support page link text
  pages/about/participating.md
  pages/sitemap.md
Labels: sitemap

#1107 Wg tf updates 2
  news/subscribe.md
  pages/about/contacting.md
  pages/about/groups/agwg.md
  pages/about/groups/apawg.md
  pages/about/groups/ariawg.md
  pages/about/groups/ig.md
  pages/about/groups/index.md
  pages/about/groups/past-groups.md
  pages/about/groups/task-forces/adapt.md
  pages/about/groups/task-forces/coga.md
  pages/about/groups/task-forces/conformance-testing.md
  pages/about/groups/task-forces/fast.md
  pages/about/groups/task-forces/low-vision-a11y-tf.md
  pages/about/groups/task-forces/matf.md
  pages/about/groups/task-forces/maturity-model.md
  pages/about/groups/task-forces/pdf-aam.md
  pages/about/groups/task-forces/practices.md
  pages/about/groups/task-forces/research-questions.md
  pages/about/groups/task-forces/spoken-presentation.md
  pages/about/groups/task-forces/wcag2ict.md
  pages/about/groups/task-forces/wcag2x-backlog.md
  pages/about/index.md
  pages/about/translating.md
  pages/about/using-wai-material.md
Labels: groups

#1391 Create 2025-07-24-advancing-digital-accessibility-accessu-recording.md
  collections/_posts/2025-07-24-advancing-digital-accessibility-accessu-recording.md
Labels: news
