Repository w3c/wai-website, pull requests merged in 2025-04, with the labels that each got.

#1184 Fix typo
  pages/design-develop/tutorials/forms/labels.md
Labels: tutorials

#1188 Update Gemfile.lock
  Gemfile.lock
Labels: dependencies, ruby

#837 Greek – Introduction to Web Accessibility
  pages/fundamentals/introduction/index.el.md
Labels: translations, intro-accessibility

#1204 Spanish – Many translation updates
  pages/design-develop/index.es.md
  pages/standards-guidelines/changelog.md
  pages/standards-guidelines/index.es.md
  pages/standards-guidelines/wcag/glance.es.md
  pages/standards-guidelines/wcag/index.es.md
  pages/teach-advocate/business-case/index.es.md
  pages/teach-advocate/index.es.md
  pages/test-evaluate/index.es.md
Labels: translations, design-develop, teach-advocate, standards-guidelines, business-case, evaluation-overview, wcag-intro

#1231 Change course end date
  pages/fundamentals/courses/foundations-course.md
Labels: courses
