Repository w3c/wai-website, pull requests merged in 2025-02, with the labels that each got.

#942 Proposed updates to the WCAG2ICT work statement
  pages/about/groups/task-forces/wcag2ict/work-statement.md
Labels: groups

#948 [READY FOR REVIEW] Brazilian Portuguese - Accessibility Fundamentals Overview
  pages/fundamentals/index.pt-BR.md
Labels: translations, fundamentals

#951 [READY FOR REVIEW] Brazilian Portuguese - An alt Decision Tree
  pages/design-develop/tutorials/images/decision-tree.pt-BR.md
Labels: translations, tutorials

#982 [READY FOR REVIEW] Simplified Chinese – An alt Decision Tree
  pages/design-develop/tutorials/images/decision-tree.zh-hans.md
Labels: translations, tutorials
